body {
  background-image: url('../image/sky3.png');
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 120px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}

#navbar h1 {
  font-weight: 300;
  font-size: 3em;
  margin: .8em 0;
}

#navbar a:hover {
  text-decoration: none;
}

#navbar h2 {
  font-size: 1.4em;
  margin: 0px;
  font-weight: 300;
  color: #FFFFFF;
  padding: 5px;
  padding-top: 7px;
}

#navbar h2:hover {
  color: #808080;
}

#logo1 {
  color: #FFFFCC;
}

#logo2 {
  color: #FFFFFF;
}

.navbarbutton {
  background: none;
  border: solid 1px white;
  padding: 0px;
  margin-top: 40px;
  width: 90%;
}

.navbarbutton:hover {
  background: #FFFFFF;
}

.navbarbutton:hover h2 {
  color: #FF5050;
}

.navbarbutton :hover h2 {
  color: #333333;
}

#idea {
  padding: 10px;
  padding-bottom: 0;
  background: #FFFFFF;
  opacity: .5;
  color: #000000;
  font-size: 1.3em;
}

#ideabox {
  margin-top: 15px;
  margin-bottom: 15px;
}

#ideafield {
  height: 80vh;
  overflow-y: auto;
}

.votebutton {
  font-size: .8em;
}

.votebutton:hover {
  text-decoration: none;
  color: #808080;
}

.votebutton a {
  color: #0099FF;
}

.votecount {
  position: absolute;
  right: 0px;
  margin-top: -10px;
  margin-right: 15px;
  color: #0099FF;
  font-size: 1.3em;
}
